@import "./variables";
@import "./minixs";

.swiper-button-next {
    @include SwiperButton();
    margin-right: -20px;
}

.swiper-button-prev {
    @include SwiperButton();
    margin-left: -20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 24px !important;
    color: #fff !important;
}

.view-more:hover {
    background-color: $OrangePrimary;
}

.flex-item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-kp9ftd-MuiIcon-root {
    height: auto !important;
    width: auto !important;
}

.swiper-pagination-bullet-active {
    background: $OrangePrimary !important;
}

.primary-text {
    color: $OrangePrimary;
}

.primary-bg {
    background-color: $OrangePrimary;
}

.tag {
    background: rgba(155, 123, 79, 0.51);
}

.login-bg {
    background: url("https://i.pinimg.com/564x/48/87/c5/4887c57dd4f62c8828dc04d78e47b754.jpg");
}

.signup-bg {
    background: url("https://i.pinimg.com/736x/53/4e/bf/534ebf45b758607b89a40d23cbe8f255.jpg");
}

// Example SCSS file (e.g., LoginModel.module.scss)

.image-container {
    position: relative;
    width: 100%;
    transition: transform 0.5s ease-in-out;

    &.slide-left {
        transform: translateX(-0%);
    }

    &.slide-right {
        transform: translateX(0%);
    }
}

.swiper-pagination-bullet-active {
    width: 20px !important;
    border-radius: 6px !important;
}

.css-dmmspl-MuiFormGroup-root {
    flex-direction: unset !important;
}

.my-address-btn:hover {
    background: #ffa5001a;
}

.css-ahj2mt-MuiTypography-root {
    width: 100% !important;
}
.css-jzcd7z-MuiFormControlLabel-root {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.paypal-powered-by {
    display: none !important;
}

.StripeCheckout {
    width: 100% !important;
    padding: 10px !important;
    background: $OrangePrimary !important;
}

.StripeCheckout span {
    background: $OrangePrimary !important;
    box-shadow: none !important;
}

.paypal-button-container {
    max-width: 100% !important;
}

.paypal-button-number-1 {
    display: none !important;
}

.css-dmmspl-MuiFormGroup-root {
    flex-direction: column !important;
}

.profile-avatar {
    height: 100px !important;
    width: 100px !important;
}

// // remove padding top in profile for same layout lining
// .profile .css-mhc70k-MuiGrid-root > .MuiGrid-item {
//     padding-top: 0 !important;
// }

/* Custom CSS for Pagination */
.MuiPaginationItem-root .Mui-selected {
    background-color: $OrangePrimary !important; /* Make sure to use your primary color */
    color: white !important;
}
